
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.bg {
    background-color: black;
}

.btn{
    margin-top: 50px;
    margin-bottom: 100px;
}
.un{
    /* border: 1px solid black; */
    background-color: white;
}
